*{
	margin: 0;
	padding: 0;
	margin: auto;
}

.header
{
	width: 80%;
	height:200px;
	background:red;

}
.menu
{
 width:400px;
     height: 100px;
   
    background:blue;
    opacity: 80%;
}